{% extends 'layout.html.twig' %}


{% block title %}Autores - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Listado de autores</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha de nacimiento</th>
                <th>Número de libros</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in autores %}
                <tr>
                    <td>{{ fila.autor.nombre }}</td>
                    <td>{{ fila.autor.apellidos }}</td>
                    <td>{{ fila.autor.fechaNacimiento ? fila.autor.fechaNacimiento|date('d/m/Y') : '---' }}</td>
                    <td>{{ fila.total }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No se han encontrado autores</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


