{% extends 'layout.html.twig' %}

{% block title %}Listado de libros - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Listado de libros</h1>
    <a href="{{ path('libro_nuevo') }}" class="btn btn-primary">Nuevo</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Editorial</th>
                <th scope="col">Autores</th>
                <th scope="col">Año de publicación</th>
                <th scope="col">Páginas</th>
                <th scope="col" colspan="2">Gestión</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
                <tr>
                    <th scope="row"><a href="{{ path('libro_autores', {'id': libro.id}) }}">{{ libro.titulo }}</a></th>
                    <td>{{ libro.editorial | default('---') }}</td>
                    <td>{{ libro.autores | join(', ') }}</td>
                    <td>{{ libro.anioPublicacion }}</td>
                    <td>{{ libro.paginas }}</td>
                    <td><a href="{{ path('libro_modificar', {'id': libro.id}) }}">Modificiar</a></td>
                    <td><a href="{{ path('libro_eliminar', {'id': libro.id}) }}">Eliminar</a></td>
                </tr>
                {% else %}
                <tr>
                    <th colspan="7">No hay libros registrados</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
