{% extends 'layout.html.twig' %}

{% block title %}Listado de editoriales - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Listado de editoriales</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Localidad</th>
                <th scope="col">Número de libros</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in editoriales %}
                <tr>
                    <th scope="row"><a href="{{ path('ap10_libros', {'id': resultado.editorial.id}) }}">{{ resultado.editorial.nombre }}</a></th>
                    <td>{{ resultado.editorial.localidad }}</td>
                    <td>{{ resultado.total }}</td>
                </tr>
                {% else %}
                <tr>
                    <th colspan="3">No hay editoriales registradas</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
